# API Backend J-AXON
NEXT_PUBLIC_API_URL=http://localhost:8080/api
NEXT_PUBLIC_WS_URL=ws://localhost:8080/ws

# App
NEXT_PUBLIC_APP_NAME=J-AXON
NEXT_PUBLIC_APP_ENV=development

# QR
NEXT_PUBLIC_QR_SCAN_ROUTE=/scan
NEXT_PUBLIC_QR_SCAN_ROUTE=/scan

# E2E Testing
E2E_BASE_URL=http://localhost:3000